{% extends 'base.html' %}
{% block title %}Atg Scraping{% endblock  %}
{% block content %}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="left-sidebar">
                <h6>States</h6>
			        <div class="panel-group category-products brands_products">						
                    {%for st in state%}			
					        <div class="panel panel-default">
						        <div class="panel-heading">
							        <h6 class="panel-title"><a href="/category/?{{st.name}}">{{st.name}}</a></h6>
						        </div>
				            </div>                           

                    {%endfor%}						
			        </div>
            </div>
        </div> 
        <div class="col-sm-8">
         <form class="d-flex" action="/searchingstate" method="get">{% csrf_token %}
        <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search"  id="query">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

        </div>   
      
    </div>
</div>
{% endblock  %}