{% extends 'base.html' %}
{% block title %}Category{% endblock  %}
{% block content %}
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm">
                        {%for com in companydetails%}
                            <div class="card border-success mb-3" style="max-width: 18rem;">
                                <div class="card-header bg-transparent border-success">{{com.name}}</div>
                                    <div class="card-body text-success">                                        
                                        <p class="card-text">{{com.description}}</p>
                                    </div>
                                <div class="card-footer bg-transparent border-success">{{com.state}}</div>
                            </div>
                        {%endfor%}   
                    </div> 
                </div>        
        </div>
        {% comment %} <div class="col-sm-10">   
                
        </div> {% endcomment %}
    </div>
</div>
{%endblock%}