{% extends 'base.html' %}
{% block title %}Jobs Scraping{% endblock  %}
{% block content %}
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <table class="table"> 
        <thead>
          <tr>     
            <th scope="col">Company</th>
            <th scope="col">JobPosition</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
          {% for job in jobs  %}
            <tr>    
              <td><a href="/companydetails/?{{job.companydetails.name}}" style="text-decoration: none;">{{job.companydetails.name}}</a></td>
              <td>{{job.jobPosition}}</td>
              <td>{{job.Location}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>  
     <div class="col-sm-4"> 
     <br>
      <form class="d-flex" action="/searchingjob" method="get">{% csrf_token %}
        <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search"  id="query">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
     </div> 
  </div>
</div>

{% endblock  %}